.card a {
    text-decoration: none !important;
    color: inherit !important;
}

span.mandatory, span.asteriskField {
    color: #EE6C4D;
    margin-left: 3px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

/* General styling */
body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-color: #e8ebe8 !important;
}

h1 {
    font-size: 32px !important;
    font-weight: 600 !important;
}

h2 {
    font-size: 24px !important;
}

p {
    font-size: 16px;
}

/* Common element styling */
.alert {
    margin: 0.4em 0;
}

.delete-warning {
    color: #EE6C4D;
}

/* General form button styling */
.edit-actions {
    display: flex;
    flex-flow: column;
    
    * {
        margin-top: 0.8em;
    }   
}

.button {
    padding: 0.6em;
    color: black;
    border-color: transparent;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.15s;
    transition: background-color 0.15s;
}

.button:visited {
    color: inherit;
}

.button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.06);
}

.confirm-button {
    background-color: #9FD19F !important;
}

.confirm-button:hover {
    background-color: #75ad83 !important;
}

.delete-button {
    background-color: #EE6C4D !important;
    color: #f8f9fa !important;
}

.delete-button:hover {
    background-color: #d64237 !important;
}

.container {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
}

/* Navbar styling */
.navbar {
    background-color: #9FD19F;

    .navbar-brand {
        padding: 0;
    }

    #nav-padder {
        flex-grow: 1;
    }

    .nav-link {
        color: black !important;
    }

    .nav-item {
        margin-left: 0.6em;
    }
  
    .nav-item .active { 
        background-color:#f8f9fa; 
        border-radius: 5px;   
        font-weight: 600; 
        color:#2e5a3b;
    }
    
    .nav-item:hover { 
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.06); 
        border-radius: 5px;
    }    

    .navbar-toggler {
        margin-left: 1em;
    }

    #profile_dropdown {
        background-color: white; 
        border-color: transparent;
        display: flex;
        flex-flow: row;
        align-items: center;

        p {
            padding: 0 0.2em;
            display: none;
            margin: 0;
        }
    }

    .dropdown-menu[data-bs-popper] {
        left: unset;
        right: 0 !important;
    }
}


@media screen and (min-width: 600px) {
    .navbar {
        #nav-padder {
            flex-grow: 0;
        }

        .dropdown {
            margin-left: 2em;
            order: 99;
        }

        #profile_dropdown p {
            display: inline;
        }
    }
}

/* Landing Page Styling */
.landing-link{
    a {
        text-decoration: none;
    }
    
    .card {
        height: 100%;
    }
}

/* Login Styling */
#login {
    margin: 8vh 0;
    display: flex;
    flex-flow: column;
}

.vibe-intro{
    display: none;

    h1 {
        font-size: 32px;
        font-weight: 600;
    }

    h2 {
        font-size: 24px;
        font-weight: 400;
    }
}

.reg-block {
    padding: 0.8em;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 3px 6px rgba(0,0,0,.06);

    h2 {
        font-weight: 400;
        text-align: center;
    }

    .input-group {
        margin-bottom: 1.2em;
    }
}

.login-buttons {
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    * {
        width: 100%;
        margin-bottom: 0.8em;
        text-align: center;
    }

    #sign_in_btn {
        background-color: #9FD19F;
    }

    .signup-button {
        color: black;
        background-color: #e9ecef;
    }
} 

#post-title{ 
    font-size: 36px; 
    font-weight: 600;
} 
  
.content-section{ 
    background-color: #fff; 
    border-radius: 12px; 
    padding-left: 5em;
    padding-right: 5em;  
    padding-bottom: 5%;
} 

#post-cancel-btn{ 
    margin-top:1em;  
    border-color: transparent;
    padding-right: 45%; 
    padding-left: 45%; 
} 

#save-btn{ 
    padding-left: 46%; 
    padding-right: 47%; 
    background-color:#9FD19F; 
    border-color: transparent;
} 

.setting{  
    margin:2.5em; 
    padding: 0.8em;  
    background-color: #fff;   
    border-radius: 5px; 
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 3px 6px rgba(0,0,0,.06);
    h1{ 
        padding:0.1em;
    }
    
    h2{ 
        display: inline-flex; 
        text-align: right;  
        padding:1.2em;
    
    }   
}

.save-button{ 
    text-align: center;
} 

input[type=submit]{ 
    background-color: #9FD19F; 
    border-radius: 5px; 
    border-color: transparent; 
   
} 

input[type=submit]:hover{  
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    
}

@media screen and (min-width: 600px) {
    #login {
        width: 100%;
        padding: 0 10%; 
        margin: 0;
        margin-top: 2em;
        flex-flow: row;
        justify-content: space-around;
    }

    .vibe-intro {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* Landing Page - Daily Tasks */
.daily-task:hover {
  color: grey !important;
}

.daily-task-list {
  list-style-type: none;
}

.card-footer {
  font-style: italic;
  color: grey !important;
}

.landing a {
  text-decoration: none;
  color: black;
}

.card { 
    border: none!important;  

   }

.card:hover {
   box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
} 

.card-body {  
    color: #45342C;    
    border-radius: 3px; 
}  
.card-title { 
    font-size: 32px; 
    font-weight: 600;
}

.card-subtitle { 
    font-size: 16px;
}

#new-post-btn { 
    background-color: #3D5A80; 
    border-color: transparent; 
}

.card-option {
    display: flex;
    flex-direction: column;
}

/* Post feed Styling */
#feed-header {
    margin-bottom: 0.8em;
}

.feed-card {
    padding: 0.8em;
    flex-direction: row !important;

    article {
        flex-grow: 1;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        padding: 0 0.2em;
        font-size: 32px;
    }
}

.feed-card:hover {
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    #feed-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        * {
            margin: 0;
        }
    }
}

/* Mood List Styling */
.graph-button {
    text-align: center;
}

.mood-list {
    display: inline-flex;
    flex-flow: row wrap;
    margin-top: 1em;
}

#new-mood-link {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px #9FD19F dashed;
    transition: background-color 0.15s;

    i {
        font-size: 32px;
    }
}

#new-mood-link:hover {
    box-shadow: none;
    background-color: #9FD19F;
    border-style: solid;
}

.mood-entry {
    width: 100%;
    padding: 0.6em;
    margin-bottom: 1em;
    display: flex;
    flex-flow: column;

    .mood-content {
        flex-grow: 1;
    }

    .mood-edit {
        margin-right: 0.6em;
    }

    .mood-delete {
        color: #EE6C4D !important;
        background-color: #f8f9fa;
    }
}

@media screen and (min-width: 600px) {
    .mood-list >* {
        width: 30%;
        margin-right: 5%;
    }

    #new-mood-link {
        width: 30%;
    }

    .mood-entry:nth-child(3n) {
        margin-right: 0%;
    }
}

/* Post detail styling */
#post-details {
    padding: 0.8em;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 3px 6px rgba(0,0,0,.06);
    display: flex;
    flex-direction: column;

    .post-delete {
        color: #EE6C4D !important;
        background-color: #f8f9fa;
    }
}

@media screen and (min-width: 600px) {
    #post-details {
        min-height: 40vh;
        margin: 0 20%;
    }

    article {
        flex-grow: 1;
    }
}

/* General mood page styling */
#mood-form, .weekly-chart, #delete-mood,
{
    padding: 0.8em;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 3px 6px rgba(0,0,0,.06); 
}

.mood-link {
    color: white !important;
    background-color: #3D5A80 !important;
    border-color: #3D5A80 !important;
}

/* Mood Form Styling */
#mood-form {
    .form-group {
        margin-bottom: 0.8em;
    }

    #id_mood, #id_date {
        font-size: 16px;
    }

    #id_content {
        width: 100%;
        min-height: 20vh;
    }
}

@media screen and (min-width: 600px) {
    #mood-form {
        margin: 0 20%;
    }

    #delete-mood {
        margin: 0 30%;
    }
}

/* Mood Graph Styling*/
.weekly-chart {
    margin-top: 0.8em;
}

/* Post Form Styling*/
#post-form {
    @extend #mood-form;

    #id_title {
        width: 100%;
    }
}

/* 404 Page Styling */
#error-card {
    section {
        display: flex;
        flex-direction: column;
    }

    .home-button {
        margin-top: 2em;
        align-self: center;
        background-color: #9FD19F;
    }
}

@media screen and (min-width: 600px) {
    #error-card {
        padding: 0 20%;
        /* Centers the element in the container */
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);

        * {
            text-align: center;
        }
    }
}

/* Sign up */
.sign-up-block {
  background-color: white !important;
}

.help-block {
    padding: 0.8em;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 3px 6px rgba(0,0,0,.06);
}

.sign-up-form-content {
  width: 100%;
  input {
    width: 100%;
  }
}