.card a {
  text-decoration: none !important;
  color: inherit !important;
}

#new-post-btn {
  position: absolute !important;
  top: 0px;
  right: 0px;
  margin-right: 0.75rem;
}

div.post-actions {
  float: right;
  position: absolute;
  right: 1%;
}

span.mandatory, span.asteriskField {
  color: #EE6C4D;
  margin-left: 3px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.save-btn-group {
  float: right;
  margin-top: -3rem;
}

/* General styling */
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background-color: #e8ebe8 !important;
}

h1 {
  font-size: 32px !important;
  font-weight: 600 !important;
}

h2 {
  font-size: 24px !important;
}

p {
  font-size: 16px;
}

/* Common element styling */
.alert {
  margin: 0.4em 0;
}

.delete-warning {
  color: #EE6C4D;
}

/* General form button styling */
.edit-actions {
  display: flex;
  flex-flow: column;
}
.edit-actions * {
  margin-top: 0.8em;
}

.button {
  padding: 0.6em;
  color: black;
  border-color: transparent;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s;
}

.button:visited {
  color: inherit;
}

.button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.confirm-button {
  background-color: #9FD19F !important;
}

.delete-button {
  background-color: #EE6C4D !important;
  color: #f8f9fa !important;
}

.container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

/* Navbar styling */
.navbar {
  background-color: #9FD19F;
}
.navbar .nav-link {
  color: black !important;
}

.navbar {
  background-color: #9FD19F;
}

.navbar .nav-link {
  color: black !important;
}

.nav-item .active {
  background-color: #f8f9fa;
  border-radius: 12px;
  font-weight: 600;
  color: #2e5a3b;
}

.nav-item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}

.nav-item {
  margin-right: 0.5em;
  padding-top: 2%;
  margin-left: 1em;
}

#profile_dropdown {
  background-color: #58AE58;
  border-color: transparent;
}

/* Landing Page Styling */
.landing-link .card {
  height: 100%;
}

/* Login Styling */
#login {
  margin: 8vh 0;
  display: flex;
  flex-flow: column;
}

.vibe-intro {
  display: none;
}
.vibe-intro h1 {
  font-size: 32px;
  font-weight: 600;
}
.vibe-intro h2 {
  font-size: 24px;
  font-weight: 400;
}

.reg-block {
  padding: 0.8em;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.06);
}
.reg-block h2 {
  font-weight: 400;
  text-align: center;
}
.reg-block .input-group {
  margin-bottom: 1.2em;
}

.login-buttons {
  margin-top: 1em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.login-buttons * {
  width: 100%;
  margin-bottom: 0.8em;
  text-align: center;
}
.login-buttons #sign_in_btn {
  background-color: #9FD19F;
}
.login-buttons .signup-button {
  color: black;
  background-color: #e9ecef;
}

#post-title {
  font-size: 36px;
  font-weight: 600;
}

.content-section {
  background-color: #fff;
  border-radius: 12px;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 5%;
  padding-top: 0.5;
  margin-left: 25%;
  margin-right: 25%;
}

#post-cancel-btn {
  margin-top: 1em;
  border-color: transparent;
  padding-right: 45%;
  padding-left: 45%;
}

#save-btn {
  padding-left: 46%;
  padding-right: 47%;
  background-color: #9FD19F;
  border-color: transparent;
}

@media screen and (min-width: 600px) {
  #login {
    width: 100%;
    padding: 0 10%;
    margin: 0;
    margin-top: 2em;
    flex-flow: row;
    justify-content: space-around;
  }

  .vibe-intro {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* Landing Page - Daily Tasks */
.daily-task:hover {
  color: grey !important;
}

.daily-task-list {
  list-style-type: none;
}

.card-footer {
  font-style: italic;
  color: grey !important;
}

.landing a {
  text-decoration: none;
  color: black;
}

.card {
  border: none !important;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card-body {
  background-color: #9FD19F;
  color: #45342C;
}

.card-title {
  font-size: 32px;
  font-weight: 600;
}

.card-subtitle {
  font-size: 16px;
}

#new-post-btn {
  background-color: #3D5A80;
  border-color: transparent;
}

/* Mood List Styling */
.graph-button {
  text-align: center;
}

.mood-list {
  display: inline-flex;
  flex-flow: row wrap;
  margin-top: 1em;
}

#new-mood-link {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px #9FD19F dashed;
  transition: background-color 0.15s;
}
#new-mood-link i {
  font-size: 32px;
}

#new-mood-link:hover {
  box-shadow: none;
  background-color: #9FD19F;
  border-style: solid;
}

.mood-entry {
  width: 100%;
  padding: 0.6em;
  margin-bottom: 1em;
  display: flex;
  flex-flow: column;
}
.mood-entry .mood-content {
  flex-grow: 1;
}
.mood-entry .mood-edit {
  margin-right: 0.6em;
}
.mood-entry .mood-delete {
  color: #EE6C4D !important;
  background-color: #f8f9fa;
}

@media screen and (min-width: 600px) {
  .mood-list > * {
    width: 30%;
    margin-right: 5%;
  }

  #new-mood-link {
    width: 30%;
  }

  .mood-entry:nth-child(3) {
    margin-right: 0%;
  }
}
/* General mood page styling */
#mood-form, .weekly-chart, #delete-mood {
  padding: 0.8em;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.06);
}

/* Mood Form Styling */
#mood-form .form-group {
  margin-bottom: 0.8em;
}
#mood-form #id_mood, #mood-form #id_date {
  font-size: 16px;
}
#mood-form #id_content {
  width: 100%;
  min-height: 20vh;
}

@media screen and (min-width: 600px) {
  #mood-form {
    margin: 0 20%;
  }

  #delete-mood {
    margin: 0 30%;
  }
}
/* Mood Graph Styling*/
.weekly-chart {
  margin-top: 0.8em;
}

/* 404 Page Styling */
#error-card section {
  display: flex;
  flex-direction: column;
}
#error-card .home-button {
  margin-top: 2em;
  align-self: center;
  background-color: #9FD19F;
}

@media screen and (min-width: 600px) {
  #error-card {
    padding: 0 20%;
    /* Centers the element in the container */
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  #error-card * {
    text-align: center;
  }
}
/* Sign up */
.sign-up-block {
  background-color: white !important;
}

.help-block {
  padding: 0.8em;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.06);
}

.sign-up-form-content {
  width: 100%;
}
.sign-up-form-content input {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
