.card a {
    text-decoration: none !important;
    color: inherit !important;
}

#new-post-btn {
    position: fixed !important;
    top: 5rem !important;
    right: 0px;
}

div.reg-block {
  width: 350px;
  padding: 20px;
  padding-right: 40px;
  margin: 60px auto;
  background: #fff;
  border-top: solid 2px #72c02c;
}

div.post-actions {
    float: right;
    position: absolute;
    right: 1%;
}

span.mandatory, span.asteriskField {
    color: red;
    margin-left: 3px;
}
.margin-bottom-20 {
margin-bottom: 20px;
}

.save-btn-group {
    float: right;
    margin-top: -3rem;
}