{% extends "base.html" %}
{% block content %}
    <h1>My Past Moods</h1>

    <div>
        <a class="btn btn-info mood-link" href="/moods">
            <i class="fas fa-grip-horizontal"></i>
            Return to Mood Entries
        </a>
    </div>

    <main class="weekly-chart">
        <div class="build-history-chart-container" id="project-chart" style=""></div>
    </main>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

    <script type="text/javascript">
        var chart = null;

        {#console.log({{ data }})#}

        function mood_display(val) {
            if (val == 4) {
                return "Very Positive";
            } else if (val == 3) {
              return "Positive";
            } else if (val == 2) {
                return "Neutral";
            } else if (val == 1) {
              return "Negative";
            } else {
                return "Very Negative";
            }
        }

        $(document).ready(function () {

            chart = new Highcharts.chart('project-chart', {
                chart: {
                    backgroundColor: null,
                    type: 'line',
                    zoomType: 'x'
                },
                title: {
                    text: 'Mood Chart'
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        month: '%e. %b',
                        year: '%b'
                    },
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    formatter: function () {
                        return Highcharts.dateFormat('%A, %e %b', new Date(this.x)) + "<br/><b>" + mood_display(this.y) + "</b>";
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: false
                        },
                        marker: {
                            enabled: false,
                            radius: 4
                        },
                        enableMouseTracking: true
                    }
                },
                series: [{
                    name: 'Mood',
                    data: {{ data|safe }}
                }]
            });
        });

    </script>

{% endblock content %}