{% extends "base.html" %}
{% block content %}

    <div id="feed-header">
        <!-- Header for the type of feed -->
        {% if post_type != None %}
            {% if post_type == "Gratitude" %}
                <h1>{% if user.id %}{% endif %} Free Journaling Entries</h1>
            {% else %}
                <h1>{% if user.id %}{% endif %} Guided Journaling Entries</h1>
            {% endif %}
        {% else %}
            <h1>{% if user.id %}My{% endif %} Posts</h1>
        {% endif %}

        <!-- Button to create new post -->
        {% if post_type == "Gratitude" %}
            <a id="new-post-btn" class="btn btn-success" href="{% url 'post-create' %}?title=0" role="button"><i
                    class="fas fa-plus"></i> New Entry</a>
        {% elif post_type == "Reflective Question" %}
            <a id="new-post-btn" class="btn btn-success" href="{% url 'post-create' %}?title=1" role="button"><i
                    class="fas fa-plus"></i> New Entry</a>
        {% else %}
            {# All Posts Page #}
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="float:right;">
                <div class="btn-group" role="group">
                    <button id="btnGroup" type="button" class="btn btn-success dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <i class="fas fa-plus"></i> New Entry
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="{% url 'post-create' %}?title=0">Gratitude Entry</a></li>
                        <li><a class="dropdown-item" href="{% url 'post-create' %}?title=1">Question Entry</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>

    <div>
        {# Display message if any exist (e.g. permission denied) #}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% if posts.count == 0 %}
        {% if post_type == "Reflective Question" %}
            <p>There are no posts here yet. Answer a question to see what others have posted!</p>
        {% elif post_type == "Gratitude" %}
            <p>There are no posts here yet. Share your experiences with others!</p>
        {% endif %}
    {% else %}
        {% if post_type == "Gratitude" %}
            <p>Share your experiences with others!</p>
        {% endif %}
    {% endif %}

    {% for post in posts %}
        <div class="card">
            <div class="card feed-card" onclick='location.href="{% url 'post-detail' post.id %}"'>
                <article>
                    <h2 class="card-title">{{ post.title }}</h2>
                    {# Django Date Documentation: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date #}
                    <p class="card-subtitle">
                        By
                        {% if user.is_superuser or user == post.author %}
                            {# May want to style the user differently #}
                            <i>{{ post.author }}</i>
                        {% else %}
                            {{ rand_name|random }}
                        {% endif %}
                        {{ post.date_posted|date:"D, M d, Y" }}
                    </p>
                    <p class="card-text">{{ post.content|truncatewords:50 }}</p>
                </article>
                <nav>
                    {% if post.id in saved_posts %}
                        <div class="save-btn-group">
                            <a name="unsave-btn" class="btn btn-sm"
                               href="{% url 'post-option-edit' post.id save_str %}?next={{ request.path|urlencode }}">
                                <i class="fas fa-bookmark"></i>
                            </a>
                        </div>
                    {% else %}
                        <div class="save-btn-group">
                            <a name="save-btn" class="btn btn-sm"
                               href="{% url 'post-save' post.id user.username %}?next={{ request.path|urlencode }}">
                                <i class="far fa-bookmark"></i>
                            </a>
                        </div>
                    {% endif %}

                    <div class="hide-btn-group">
                        <a name="hide-btn" class="btn btn-sm"
                           href="{% url 'post-hide' post.id user.username %}?next={{ request.path|urlencode }}">
                            <i class="far fa-eye-slash"></i>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock content %}