{% extends "base.html" %}
{% block content %}

    <div>

        {% if post_type == "Gratitude" %}
            <a id="new-post-btn" class="btn btn-success" href="{% url 'post-create' %}?title=0" role="button"><i class="fas fa-plus"></i> New Entry</a>
        {% elif post_type == "Reflective Question" %}
            <a id="new-post-btn" class="btn btn-success" href="{% url 'post-create' %}?title=1" role="button"><i class="fas fa-plus"></i> New Entry</a>
        {% else %}
            {# All Posts Page #}
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="float:right;">
                <div class="btn-group" role="group">
                    <button id="btnGroup" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <i class="fas fa-plus"></i> New Entry
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="{% url 'post-create' %}?title=0">Gratitude Entry</a></li>
                        <li><a class="dropdown-item" href="{% url 'post-create' %}?title=1">Question Entry</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}


        {% if post_type != None %}
            <h2>{% if user.id %}{% endif %} {{ post_type }} Entries</h2>
        {% else %}
            <h2>{% if user.id %}My{% endif %} Posts</h2>
        {% endif %}

    </div>

    <div>
        {# Display message if any exist (e.g. permission denied) #}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% if post_type == "Reflective Question" and posts.count == 0 %}
        <p>There are no posts to show. Answer a question to see what others have posted!</p>
    {% endif %}

    {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <a href="{% url 'post-detail' post.id %}">
                    <h3 class="card-title">{{ post.title }}</h3>
                    {% if post.id in saved_posts %}   
                        <div class="save-btn-group">
                            <a name="unsave-btn" class="btn btn-sm" href="{% url 'post-option-edit' post.id save_str %}?next={{ request.path|urlencode }}">
                                <i class="fas fa-bookmark fa-3x"></i>
                            </a>
                        </div>
                    {% else %}
                        <div class="save-btn-group">
                            <a name="save-btn" class="btn btn-sm" href="{% url 'post-save' post.id user.username %}?next={{ request.path|urlencode }}">
                                <i class="far fa-bookmark fa-3x"></i>
                            </a>
                        </div>
                    {% endif %}

                    {# Django Date Documentation: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date #}
                    <h4 class="card-subtitle">
                        By
                        {% if user.is_superuser or user == post.author %}
                            {# May want to style the user differently #}
                            <i>{{ post.author }}</i>
                        {% else %}
                            {{ rand_name|random }}  
                        {% endif %}
                            {{ post.date_posted|date:"D, M d, Y" }} 
                    </h4>
                    <p class="card-text">{{ post.content|truncatewords:50 }}</p>
                </a>
            </div>
        </div>

        <br>
    {% endfor %}

{% endblock content %}