{% extends "base.html" %}
{% block content %}

    <div>
        <h2>Search</h2>
    </div>

    <div>
        {# Display message if any exist (e.g. permission denied) #}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% for post in posts %}

        {% if user.is_superuser or post.post_type != "Personal" %}

            <div class="card">
                <div class="card-body">
                    <a href="{% url 'post-detail' post.id %}">
                        <h3 class="card-title">{{ post.title }}</h3>
                        {# Django Date Documentation: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date #}
                        <h4 class="card-subtitle">By {{ post.author }} | {{ post.date_posted|date:"D, M d, Y" }} </h4>
                        <p class="card-text">{{ post.content }}</p>
                    </a>
                </div>
            </div>
            <br>

        {% elif  post.post_type == "Personal" and user.id == post.author_id %}

            <div class="card">
                <div class="card-body">
                    <a href="{% url 'post-detail' post.id %}">
                        <h3 class="card-title">{{ post.title }}</h3>
                        {# Django Date Documentation: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date #}
                        <h4 class="card-subtitle">By {{ post.author }} | {{ post.date_posted|date:"D, M d, Y" }} </h4>
                        <p class="card-text">{{ post.content }}</p>
                    </a>
                </div>
            </div>
            <br>

        {% endif %}
    {% endfor %}
{% endblock content %}