{% extends "base.html" %}
{% block content %}
    <div id="delete-mood" class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h1>
                    <i class="fas fa-trash delete-warning"></i>
                    Delete Mood?
                </h1>
                <p>Mood entry on <b>{{ object.date_posted }}</b> will be removed.</p>
            </fieldset>
            <nav class="edit-actions">
                <button  id="confirm-ok-button" class="button btn delete-button" type="submit">Delete</button>
                <a class="button btn btn-light" href="/moods">Cancel</a>
            </nav>
        </form>
    </div>
{% endblock content %}