{% extends "base.html" %}
{% block content %}
    <div>
        <!-- Display message if any exist (e.g. permission denied) -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <div class="card bordered md:w-auto">
      <div class="card-body">
        <h1 class="card-title">{{ object.mood }}</h1>
<!--Django Date Documentation: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date -->
        <h4 class="card-subtitle">By {{ object.author }} | {{ object.date_posted|date:"D, M d, Y" }} </h4>
        <p class="card-text">{{ object.content }}</p>
      </div>
    </div>
{% endblock content %}