{% extends "base.html" %}
{% block content %}
<div>
  <div style="float: right;">
    <a  href="/moods/new"><button class="btn btn-success" id="new-mood-btn">
			<i class="fa fa-lock"></i>New Mood</button></a>
 </div>
  <h1>My Moods</h1>
</div>
		
  {% for mood in moods %}
    <div class="card">
      <div class="card-body">
        <a href="{% url 'mood-detail' mood.id %}">
          <h3 class="card-title">{{ mood.mood }}</h3>
  <!--Django Date Documentation: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date -->
          <h4 class="card-subtitle">By {{ mood.author }} | {{ mood.date_posted|date:"D, M d, Y" }} </h4>
        </a>
      </div>
    </div>
      <br>
  {% endfor%}
{% endblock content %}