{% extends "base.html" %}
{% block content %}

    <div>
        <h1>My Moods</h1>
    </div>

    <div>
        <a class="btn btn-info mood-link" href="/calendar">
            <i class="fa fa-chart-line"></i>
            Go to Graph View
        </a>
    </div>

    <div>
        {# Display message if any exist (e.g. permission denied) #}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <section class="mood-list">
        <!-- Link to create new mood entry -->
        <a href="/moods/new" id="new-mood-link" class="button">
            <i class="fa fa-plus"></i> 
            <p>Create New Mood Entry</p>
        </a>
        
        <!-- Mood Entries -->
        {% for mood in moods %}
        <div class="card mood-entry">
            <h2>{{  mood.display }}</h2>

            {# Django Date Documentation: https://docs.djangoproject.com/en/2.0/ref/templates/builtins/#date #}
            <p>{{ mood.date_posted|date:"D, M d, Y" }}</p>
            <p class="mood-content">{{ mood.content }}</p>
            <nav class="mood-actions">
                <!-- Edit button -->
                <a href="{% url 'mood-edit' mood.id %}" class="btn btn-light mood-edit"><i class="fa fa-edit"></i>Edit</a>
                <!-- Delete button -->
                <a data-confirm="Are you sure?" class="btn mood-delete" rel="nofollow" data-method="delete"
                href="{% url 'mood-delete' mood.id %}"><i class="fa fa-trash"></i>Delete</a>
            </nav>
        </div>
        {% endfor %}
    </section>

{% endblock content %}