{% extends "base.html" %}
{% block content %}
    {% if user.is_authenticated %}

        <h1>Welcome, {{ user.username }}</h1>
    {% else %}
        <h1>Home</h1>
    {% endif %}
    <div>
        <!-- Display message if any exist (e.g. permission denied) -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="row">
        {#    Daily Tasks #}
        <div class="daily-tasks col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Daily Tasks</h3>

                    <ul class="daily-task-list">
                        <a class="daily-task" href="/moods/new">
                            <li>&#9633; Enter today's mood</li>
                        </a>
                        <a class="daily-task" href="/question">
                            <li>&#9633; Write a Reflection Entry</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        {#        Inspirational Quote #}
        <div class="quote col-sm-4">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote">
                        <p class="mb-0">Fill your paper with the breathings of your heart.</p>
                        <br>
                        <footer class="blockquote-footer"><cite>William Wordsworth</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        {#        Mood #}
        <div class="mood-today col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Today's Mood</h3>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}