{% extends "base.html" %}
{% block content %}

    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }}</h1>
    {% else %}
        <h1>Home</h1>
    {% endif %}

    {# Display message if any exist (e.g. permission denied) #}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        {# Daily Tasks #}
        <div class="daily-tasks col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Daily Tasks</h3>
                    <ul class="daily-task-list">
                        {# Mood task #}
                        {% if mood_today %}
                            {# Completed #}
                            <a class="daily-task completed" id="mood-task-complete" href="/">
                                <li>
                                    <i class="fas fa-check-square"></i> Enter today's mood
                                </li>
                            </a>
                        {% else %}
                            {# Not Completed #}
                            <a class="daily-task" id="mood-task" href="/moods/new">
                                <li>
                                    <i class="far fa-square"></i> Enter today's mood
                                </li>
                            </a>
                        {% endif %}

                        {% if post_count > 0 %}
                            {# Completed #}
                            <a class="daily-task completed" id="post-task-complete" href="/">
                                <li>
                                    <i class="fas fa-check-square"></i> Write a Reflection Entry
                                </li>
                            </a>
                        {% else %}
                            {# Not Completed #}
                            <a class="daily-task" id="post-task" href="/posts/new?title=1">
                                <li>
                                    <i class="far fa-square"></i> Write a Reflection Entry
                                </li>
                            </a>
                        {% endif %}
                    </ul>
                    {% if post_count > 0 and mood_today %}
                        <p><i class="fas fa-star"></i> Congrats! You finished today's daily tasks</p>
                    {% endif %}
                </div>

                <div class="card-footer">
                    Resets daily at 12AM
                </div>
            </div>
        </div>

        {# Inspirational Quote #}
        <div class="quote col-sm-4">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote">
                        <p class="mb-0">Fill your paper with the breathings of your heart.</p>
                        <br>
                        <footer class="blockquote-footer"><cite>William Wordsworth</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        {# Mood #}
        <div class="mood-today col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Today's Mood</h3>
                    {% if mood_today %}
                        <p class="text-center">{{ mood_today.display }}</p>
                    {% else %}
                        <p><a href="/moods/new">You haven't entered a mood today yet, why not drop by and add one?</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

        {# Guided Journal Entry #}
        <div class="free-journalling landing col-sm-4">
            <a href="/question">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Guided Journalling</h3>
                        <p>Use prompts to guide your self-reflection</p>
                    </div>
                </div>
            </a>
        </div>

        {# Free Journal Entry #}
        <div class="free-journalling landing col-sm-4">
            <a href="/gratitude">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Free Journalling</h3>
                        <p>Advanced journalling, write about your own thoughts without prompts!</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

{% endblock content %}